<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Cadastrados</title>
    <meta name="description" content="Com esta formulário você pode cadastrar todas as informações sobre seus Pokemon">
    <link rel="stylesheet" href="card_style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./script_card.js" async ></script>
</head>
<body id="app"> 
    
    <div v-for="pokemon in pokemonList" id="card-info-pokemon">
        <h1>Pokemon #{{pokemon.strId}}</h1>
        <img id="pic" :src="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/'+ pokemon.pokeId + '.png'">
        <div class="nome">
            <legend>Nome:</legend>
            <p>{{pokemon.name}}</p>
        </div>
        <div class="tipo">
            <legend>Tipo:</legend>
            <img v-for="pokemonType in pokemon.types" class="icon" :src="'icons/' + pokemonType.type  + '.svg'">
        </div>
        <div class="apelido">
            <legend>Apelido:</legend>
            <p>{{pokemon.nick}}</p>
        </div>
        <div class="level">
            <legend>Level:</legend>
            <p>{{pokemon.level}}</p>
        </div>
        <div class="genero">
            <legend>Genero:</legend>
            <p>{{pokemon.gender}}</p>
        </div>
        <div class="nature">
            <legend>Nature:</legend>
            <p>{{pokemon.nature}}</p>
        </div>      
    </div>
</body>
</html>
