<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre seu Pokemon</title>
    <meta name="description" content="Com esta formulário você pode cadastrar todas as informações sobre seus Pokemon">
    <link rel="stylesheet" href="form_style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./script.js" async ></script>
</head>
<body id="app"> 
    
    
    <form>
        <div class="titulo">
            <h1>Cadastro de Pokemon</h1>
            <p>Insira as informações sobre seu Pokemon</p>
        </div>

        <fieldset class="grupo">
            <div class="campo">
                <label for="nome">Nome<span class="obrigatorio">*</span></label>
                <input v-on:input="onTypeName" v-model="pokeName" type="text" name="nome" required placeholder="Insira o nome do seu Pokemon" autocomplete="off">
                <div class="autocomplete" v-if="suggestionList.length > 0">
                    <ul>
                        <li v-for="name in suggestionList" @click="setName(name)">{{name}}</li>
                    </ul>
                </div>
            </div>

            <div class="campo">
                <label for="apelido">Apelido</label>
                <input v-model="pokeNick" type="text" name="apelido" placeholder="Insira o apelido do seu Pokemon">
            </div>

            <div class="campo">
                <label for="level">Level<span class="obrigatorio">*</span></label>
                <input v-model="pokeLv" type="number" name="level" required placeholder="Insira o Level no seu Pokemon">
            </div>
        </fieldset>
        
        <div class="genero">
            <legend>Escolha o gênero do seu Pokemon<span class="obrigatorio">*</span></legend>
            <label><input v-model="pokeGender" type="radio" name="gender" value="m" required> Macho</label>
            <label><input v-model="pokeGender" type="radio" name="gender" value="f" required> Fêmea</label>
        </div>

        <div class="nature">
            <legend>Nature<span class="obrigatorio">*</span></legend>
            <select v-model="pokeNature" class="opcao-nature" required>
                <option disabled value="">Selecione</option>
                <option>Hardy</option>
                <option>Lonely</option>
                <option>Brave</option>
                <option>Adamant</option>
                <option>Naughty</option>
                <option>Bold</option>
                <option>Docile</option>
                <option>Relaxed</option>
                <option>Impish</option>
                <option>Lax</option>
                <option>Timid</option>
                <option>Hasty</option>
                <option>Serious</option>
                <option>Jolly</option>
                <option>Naive</option>
                <option>Modest</option>
                <option>Mild</option>
                <option>Quiet</option>
                <option>Bashful</option>
                <option>Rash</option>
                <option>Calm</option>
                <option>Gentle</option>
                <option>Sassy</option>
                <option>Careful</option>
                <option>Quirky</option>
            </select>
        </div>

        <div class="tipo">
            <legend>Tipo<span class="obrigatorio">*</span></legend>
            <div class="opcao-tipo">
                <label  v-for="type in typeList"><input v-model="type.selected" type="checkbox" value="{{type.id}}">{{type.type}}<img :src="'icons/' + type.type + '.svg'"></label>
            </div>

            <div class="div-botao">
                <button @click="getInfo" class="botao" type="button">Salvar Pokemon</button>
                <a href="file:///Users/nataliayumi/Desktop/Programac%CC%A7a%CC%83o/Form%20Pokemon/card.html">Ir para Pokemon Cadastrados</a>
            </div>
        
        </div>

    </form>
 
</body>

</html>